<% if user_signed_in? %>
<li  class="nav-link">
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</li>
<li  class="nav-link"><%= link_to "Post", new_post_path %></li>
<li  class="nav-link"><%= link_to "Edit Profile", edit_user_registration_path %></li>
<li  class="nav-link"><%= render 'layouts/shared/profile_items' %> </li>

<% else %>
<li  class="nav-link"><%= link_to "Sign Up", new_user_registration_path %></li>
<li  class="nav-link"><%= link_to "Sign In", new_user_session_path %></li>
<% end %>
<li  class="nav-link"><a href="##"><%= pretty_date %></a>	