<h1>What's been happening?</h1>
<% @posts.each do |post| %>
<div>
	<p><%= post.content %>
		<%= post.created_at %>
		<%= post.user.user_name %>
		<%= post.id %>
	</p>
		<%= link_to 'Delete Post', delete_post_path %>

</div>
<% end %>