<!DOCTYPE html>
<html>
<head>
	<title>MicroBlogUikit</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
</head>
<body>
	<div class="off-canvas-wrapper" >
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
				<!-- Off canvas title bar button -->
				<div class=" title-bar hide-for-medium" data-responsive-toggle="offCanvasLeft">
					<div class="title-bar-left">
						<button type="button" class="menu-icon" id="button-toggle"></button>
					</div>
				</div>
				<!-- left menu div -->
				<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
					<ul class="menu vertical">
						<li><%= link_to "Plant", root_path, class: 'menu-text'  %></li>
						<%= render 'layouts/shared/navigation_links' %>
					</ul>
				</div>
				<!-- Will hide at small. -->
				<div class="title-bar show-for-medium">
					<div class="title-bar-left">
						<ul class="menu" id="navigation-list">
							<li><%= link_to "Plant", root_path, class: 'menu-text'  %></li>
							<%= render 'layouts/shared/navigation_links' %>
						</ul>
					</div>
					<div class="title-bar-right">
						<ul class="menu">
							<li><input type="search" placeholder="search"></li>
							<li><button type="button" class="button">Search</button></li>
						</ul>
					</div>
				</div>
			<!-- Everything after menu bars. -->
			<div class="container off-canvas-content" data-off-canvas-content>
				<p class="notice "><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<p>sexy times</p>
				<%= yield %>
			</div>
			<button type="button" class="button" id="myButton">Fuck</button>
		</div>
	</div>

</body>
</html>
