<!DOCTYPE html>
<html>
<head>
  <title>MicroBlogUikit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<li><%= link_to "Sign In", new_user_session_path %></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
</header>

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
